* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 412px;
    padding: 6px;
    gap: 1px;
    background-color: rgb(21, 21, 21);
    border-radius: 14px 56px 14px 56px;
}

.display {
    background-color: whitesmoke;
    color: rgb(21, 21, 21);
    flex: 1 1 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 8px;
    font-size: 48px;
    border-bottom: 4px solid black;
    border-radius: 8px 50px 8px 8px;
}

.row{
    display: flex;
    flex: 1 1 100px;
    gap: 1px;
}

.btn {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s;
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.8;
  }

.btn.wide {
    flex: 1 1 201px;
    border-bottom-left-radius: 50px;
}

.light {
    background-color: rgb(121, 121, 123);
}
.dark {
    background-color: rgb(62, 62, 63);
}
.color {
    background-color: rgb(253, 158, 43);
}
.dark-color {
    background-color: rgb(157, 184, 37);
}
.red {
    background-color: rgb(197, 36, 36);
}